* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #14181E;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    position: relative;
    &.hide {
        overflow: hidden;
    }
}

.nav-header{
    position: relative;
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    width: 80%;
    // max-width: 1750px;
    margin: auto;
    padding: 2rem 0rem;
    z-index: 2;
    #logo-div{
        line-height: 2rem;
        .logo{
            color: whitesmoke;
            text-decoration: none;
            transition: all 0.5s ease-in-out;
            text-transform: uppercase;
            letter-spacing: 3px;
            // font-family: 'Abril Fatface', cursive;
        }
        span {
            font-weight: 300;
            font-style: italic;
            transition: all 0.5s ease-in-out;
        }
    }
    .burger {
        cursor: pointer;
        width: 65px;
        .ham {
            display: inline-block;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            transition: transform 600ms;
            user-select: none;
            width: 100%;
            height: 100%;
            path{
                pointer-events: none;

            }
            .line {
                fill:none;
                transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
                stroke:rgb(240, 240, 240);
                stroke-width:5;
                stroke-linecap:round;
            }
            .top {
                stroke-dasharray: 40 160;
            }
            .middle {
                stroke-dasharray: 40 142;
                transform-origin: 50%;
                transition: transform 400ms;
                stroke:rgb(145, 145, 145);
            }
            .bottom {
                stroke-dasharray: 40 85;
                transform-origin: 50%;
                transition: transform 400ms, stroke-dashoffset 400ms;
            }
        }
        
        .hamRotate.active {
            transform: rotate(45deg);
            .line {
                transition: all 0.7s ease-in-out;
                stroke:rgb(19, 19, 19);
            }
            .top {
                stroke-dashoffset: -64px;
            }
            .middle {
                //stroke-dashoffset: -20px;
                transform: rotate(90deg);
            }
            .bottom {
                stroke-dashoffset: -64px;
            }
        }
    }
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    opacity: 0;
    clip-path: circle(50px at 100% -10%);
    .nav-links {
        font-size: 3rem;
        flex-basis: 30rem;
        li {
            padding: 3rem 0rem;
            text-decoration: none;
            list-style-type: none;
            a{
                text-decoration: none;
                color: #14181E;
                .letter {
                    display: inline-block;
                    line-height: 1em;
                }
            }
        }
    }
    .contact {
        flex-basis: 30rem;
        h3 {
            font-size: 3rem;
            padding: 2rem 0rem;
        }
        p {
            font-size: 1.5rem;
            line-height: 2rem;
            font-style: italic;
            a {
                display: inline-block;
                color: #14181E;
                text-decoration: none;
            }
        }
    }
}

main {
    // max-width: 1750px;
    // margin: auto;
    position: absolute;
}

.slide {
    // min-height: 100vh;
    height: 100vh;
    padding-bottom: 2rem;
    margin: 0 auto 0 auto;
    width: 80%;
    // max-width: 1750px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    background: #14181E;
    .home-img {
        height: 50%;
        // height: 20vh;
        position: relative;
        flex: 1;
        flex-basis: 35rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .jumbo-description {
        height: 50%;
        // height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 2;
        flex-basis: 25rem;
        padding-left: 5rem;
        position: relative;
        .title {
            position: relative;
            overflow: hidden;
            h2 {
                font-family: 'Abril Fatface', cursive;
                font-size: 4rem;
                font-weight: 400;
                .home-span {
                    color: #517FC5;
                }
            }

            .title-swipe{
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                mix-blend-mode: darken;
                transform: translateY(100%);
            }
            .t-swipe1 {
                background: #517FC5;
            }
            .t-swipe2 {
                background: #917cdd;
            }
            .t-swipe3 {
                background: #51c57e;
            }
        }

        p {
            padding: 3rem 0;
            font-size: 1.5rem;
            color: whitesmoke;
            font-weight: 200;
            line-height: 2rem;
            span {
                background: linear-gradient(135deg, rgba(0,146,70,1) 0%, rgba(242,242,242,1) 47%, rgba(206,43,55,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
            }
        }

        .explore {
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: italic;
            font-weight: 300;
            padding: 1rem 2rem;
            background: none;
            border: none;
            color: whitesmoke;
            border: 1px solid whitesmoke;
            text-decoration: none;
            align-self: flex-start;
            cursor: pointer;
            p {
                padding: 0;
                font-size: 1.2rem;
            }
            img {
                height: 35px;
                margin-left: 0.5rem;
            }
        }
    }
}

.reveal-img,.reveal-text {
    position: absolute;
    width: 100%;
    height: 105%;
    background: #14181E;
    left: 0;
    top: -3%;
    // display: none;
}

.web-span {
    color: #917cdd;
}

.design-span {
    color: #51c57e;
}

.cursor{
    position: absolute;
    opacity: 1;
    width: 2rem;
    height: 2rem;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    transition-property: background, transform;
    transform-origin: 90% 90%;
    &.nav-active{
        background: #517FC5;
        transform: scale(2);
    }
    &.explore-active{
        background: whitesmoke;
        transform: scale(2);
    }
    .cursor-text{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 0.5rem;
        transform: translate(-50%, -50%);
    }
}

// .pin-spacer {
//     position: static !important;
//     overflow: hidden !important;
// }

/* Other Pages */

.webdev1, .webdev2, .webdev3 {
    min-height: 90vh;
    display : flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    color: whitesmoke;
    margin-top: 5rem;
    flex-wrap: wrap;
    position: relative;
    .webdev-image{
        height: 70vh;
        flex-basis: 30rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .webdev-text{
        position: relative;
        flex: 1;
        flex-basis: 25rem;
        h1 {
            font-size: 6rem;
            padding: 5rem 0rem;
            font-weight: 300;
        }
        p {
            font-size: 2rem;
            padding: 2rem 2rem 0rem 0rem;
            margin-bottom: 10rem;
        }
    }
    .webdev-nr {
        font-size: 15rem;
        position: absolute;
        left: 39%;
        bottom: 4.7%;
        color: whitesmoke;
        opacity: 0.3;
        font-weight: 300;
    }
}

.webdev1 h1 {
    color: #517FC5;
}
.webdev2 h1 {
    color: #917cdd;
}
.webdev3 h1 {
    color: #51c57e;
}

.swipe {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}
.swipe1 {
    background: #517FC5;
    z-index: 5;
}
.swipe2 {
    background: #917cdd;
    z-index: 4;
}
.swipe3 {
    background: #51c57e;
    z-index: 3;
}

/* Media Queries */

@media screen and (min-width: 600px) and (max-width: 1024px){
    .slide {
        .jumbo-description {
            p {
                width: 80%;
                margin: 0 auto 0 auto;
            }
        }
    }

}

@media screen and (max-width: 1500px){
    .slide {
        width: 90%;
        .home-img {
            height: 45%;
        }
        .jumbo-description {
            p {
                padding: 1rem 0rem;
                padding-bottom: 2rem;
                font-size: 1.1rem;
                line-height: 1.5rem;
            }
        }
    }
    

    .detail-slide {
        width: 100%;
        text-align: center;
        .webdev-text {
            h1 {
                font-size: 2rem;
                padding: 1rem 0rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
        .webdev-nr {
            font-size: 8rem;
        }
        .webdev-image img {
            height: 50vh;
            object-position: top;
        }
    }
}

@media screen and (max-width: 1200px) {
    main {
        .slide {
            .jumbo-description {
                .title {
                    h2 {
                        font-size: 3rem;
                        padding: 1rem 0.5rem;
                    }
                }
                p {
                    font-size: 1.1rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    main {
        width: 100%;
        margin: 0;
        .slide {
            display: block;
            width: 100%;
            text-align: center;
            .home-img {
                height: 30%;
                // padding-top: 4rem;
            }
            .jumbo-description {
                padding: 5rem;
                height: 70%;
                .title {
                    h2 {
                        font-size: 2rem;
                        padding: 1rem 0.5rem;
                    }
                }
                p {
                    // width: 80%;
                    padding: 0rem 1rem;
                    padding-bottom: 1rem;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    text-align: center;
                }
                .explore {
                    width: 43%;
                    margin: 0 auto auto auto;
                    p {
                        padding: 0;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .detail-slide {
        width: 100%;
        text-align: center;
        .webdev-text {
            h1 {
                margin: 2rem 0rem;
            }
            p {
                margin-bottom: 5rem;
                padding: 0;
            }
        }
        .webdev-nr {
            font-size: 8rem;
        }
    }

    .nav-bar {
        display: block;
        width: 100vw;
        .nav-links {
            font-size: 2rem;
            text-align: center;
            padding-top: 8rem;
            li {
                padding: 2rem 0rem;
            }
        }
        .contact {
            padding-top: 3rem;
            h3 {
                font-size: 2rem;
                text-align: center;
                padding-bottom: 0;
            }
            p {
                font-size: 1.2rem;
                padding: 1rem;
                text-align: center;
            }
        }
    }
    .nav-header{
        font-size: 0.7rem;
        padding: 1.2rem 0rem;
        .burger {
            width: 50px;
        }
    }
}

@media screen and (max-width: 600px) {
    main {
        .slide {
            .jumbo-description {
                padding: 0;
                .explore {
                    width: 60%;
                    margin: 0 auto auto auto;
                }
            }
        }
    }
}

@media screen and (max-width: 340px){
    main {
        .slide {
            .home-img {
                height: 22%;
            }
            .jumbo-description {
                padding: 0;
                height: 78%;
                .title {
                    h2 {
                        font-size: 1.3rem;
                        padding: 1rem 0.5rem;
                    }
                }
                p {
                    font-size: 14px;
                    line-height: 1.5rem;
                    text-align: center;
                    padding: 5px;
                }
                .explore {
                    font-size: 15px;
                    padding: 0.5rem;
                    p {
                        padding: 0;
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .nav-bar {
        .nav-links {
            font-size: 2rem;
            text-align: center;
            padding-top: 8rem;
            li {
                padding: 1rem 0rem;
            }
        }
        .contact {
            padding-top: 1rem;
            h3 {
                font-size: 2rem;
                text-align: center;
                padding-bottom: 0;
            }
            p {
                font-size: 1.2rem;
                padding: 1rem;
                text-align: center;
            }
        }
    }
    .nav-header{
        font-size: 0.7rem;
        padding: 1.2rem 0rem;
        .burger {
            width: 50px;
        }
    }
    
}


// @keyframes revealAnimation {
//     from {

//     }
//     to {

//     }
// }